<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
      <li>Apple</li>
      <li>Cheese</li>
      <li>Bread</li>
      <li>Ham</li>
      <li>add more stuff...</li>
    </ul>
  </body>
</html>